<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StokYonetim.Properties.Settings.StokYonetim" connectionString="Data Source=ALIHAN\SQLEXPRESS;Initial Catalog=StokYonetim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>